{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3">
                <h2>CS50Wiki</h2>
                <h5>The Other Free Encyclopedia</h5>
                <form action="{% url 'search' %}">
                    {% csrf_token %}
                    <div class="ïnput-group mb-3 mx-2">
                             <input class="form-control search" type="text" name="q" placeholder="Search..." aria-label="Search Encyclopedia" aria-describedby="button-addon2">
                        <div class="input-group-append">
                             <button type="submit" class="btn btn-outline-secondary search btn-sm" id="button-addon2">
                                <i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </form>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'new_page' %}">Create New Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'random' %}">Random Page</a> 
                    </li>
                </ul>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-10 col-md-9 pl-3">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>